<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource" />
    </bean>

    <bean id="pageDao" class="ru.webcrawler.dao.JdbcTemplatePageDao">
        <property name="template" ref="jdbcTemplate" />
    </bean>

    <bean id="writer" class="ru.webcrawler.Writer">
        <property name="pageDao" ref="pageDao" />
    </bean>

</beans>